@page
@model JurayUniversal.Website.Areas.Admin.Pages.IExpenses.ISalary.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">SALARY LIST</h3>


        <a asp-page="./Create" class="btn bg-gradient-warning btn-sm" style="float:right;">Add New</a>

    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <div class="table-responsive">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>S/N</th>
            <th>
                @Html.DisplayNameFor(model => model.Salary[0].User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary[0].Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary[0].DefaulterCharge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary[0].BonusAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary[0].Balance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary[0].Note)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary[0].Month)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary[0].PaymentStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary[0].ApprovedByManager)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary[0].ManagerNote)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary[0].ApprovedByManagerDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary[0].ApprovedByCEO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary[0].CeoNote)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary[0].ApprovedByCeoDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary[0].ApprovedByCFO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary[0].CfoNote)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary[0].ApprovedByCfoDate)
            </th>
            <th></th>
        </tr>
                </thead>

                @{
                    int sn = 0;
                }
    <tbody>
@foreach (var item in Model.Salary) {
                        <tr>
                            <td>
                                @{
                                    sn++;
                                }
                                @sn
                            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DefaulterCharge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BonusAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Balance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Month)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApprovedByManager)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ManagerNote)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApprovedByManagerDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApprovedByCEO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CeoNote)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApprovedByCeoDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApprovedByCFO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CfoNote)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApprovedByCfoDate)
            </td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-success">Action</button>

                                    <div class="btn-group">
                                        <button type="button" class="btn btn-success dropdown-toggle dropdown-icon" data-toggle="dropdown" aria-expanded="false">
                                        </button>
                                        <div class="dropdown-menu" style="">

                                            <a class="dropdown-item" asp-page="./Edit" asp-route-id="@item.Id">Edit</a>

                                        </div>
                                    </div>
                                </div>

                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
