@page
@model JurayUniversal.Website.Areas.Admin.Pages.IExpenses.Category.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">EXPENSES CATEGORY LIST</h3>


        <a asp-page="./Create" class="btn bg-gradient-warning btn-sm" style="float:right;">Add New</a>

    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <div class="table-responsive">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>S/N</th>
            <th>
                @Html.DisplayNameFor(model => model.ExpensesCategory[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpensesCategory[0].Description)
            </th>
            <th></th>
        </tr>
                </thead>

                @{
                    int sn = 0;
                }
    <tbody>
@foreach (var item in Model.ExpensesCategory) {
                        <tr>
                            <td>
                                @{
                                    sn++;
                                }
                                @sn
                            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-success">Action</button>

                                    <div class="btn-group">
                                        <button type="button" class="btn btn-success dropdown-toggle dropdown-icon" data-toggle="dropdown" aria-expanded="false">
                                        </button>
                                        <div class="dropdown-menu" style="">

                                            <a class="dropdown-item" asp-page="./Edit" asp-route-id="@item.Id">Edit</a>

                                        </div>
                                    </div>
                                </div>

                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
