@page
@model JurayUniversal.Website.Areas.NIPSS.Pages.Account.CourseModel
@{
}

<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">COURSE INFORMATION</h3>
       
        <a asp-page="/Dashboard/Index" class="btn bg-gradient-primary btn-sm" style="float:right;">Back</a>

    </div>
    <!-- /.card-header -->

    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <dl class="row">
                    @if (Model.Course.CourseCategory != null)
                    {
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Course.CourseCategory.Name)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Course.CourseCategory.Name)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Course.SecNumber)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Course.SecNumber)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Course.CourseCategory.Abbreviation)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Course.CourseCategory.Abbreviation)
                        </dd>
                    }
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Course.Description)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Course.Description)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Course.StartDate)
                    </dt>
                    <dd class="col-sm-10">
                        @Model.Course.StartDate.ToString("dd MMM")
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Course.EndDate)
                    </dt>
                    <dd class="col-sm-10">
                        @Model.Course.EndDate.ToString("dd MMM")

                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Course.Year)
                    </dt>
                    <dd class="col-sm-10">
                        @Model.Course.Year.ToString("yyyy")
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Course.CourseStatus)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Course.CourseStatus)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Course.Theme)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Course.Theme)
                    </dd>
                </dl>
            </div>

        </div>
    </div>
</div>
<div class="card card-default card-primary">
    <div class="card-header">
        <h3 class="card-title">SUB THEME</h3>
    </div>
    <div class="card-body">
        <div class="col-md-12">
            @if (Model.Course.SubThemes.Count() > 0)
            {
                <div>
                    @{ int sn = 0;}
                    @foreach (var item in Model.Course.SubThemes)
                    {
                        <div style="border-bottom: 1px solid #80808085; padding-bottom: 8px; padding-top: 8px; ">

                            <form asp-page-handler="Delete" asp-route-id="@item.Id" method="post" onsubmit="return confirm('Are you sure you want to delete this item?');">
                                @{ sn++;}
                                (@sn)   @item.Name   
                            </form>
                        </div>

                    }



                </div>
            }
            else
            {
                <p><i>Empty</i></p>
            }


        </div>
    </div>
</div>
 




<div class="card card-default card-success">
    <div class="card-header">
        <h3 class="card-title">STUDY GROUP</h3>
    </div>
    <div class="card-body">
        <div class="col-md-12" id="studygroup">
            @if (Model.Course.StudyGroupCategories.Count() > 0)
            {
                <div>
                    @{ int sn = 0;}
                    @foreach (var item in Model.Course.StudyGroupCategories)
                    {
                        <div style="border-bottom: 1px solid #80808085; padding-bottom: 8px; padding-top: 8px; width:100%;" class="btn btn-default">

                            <form style="text-align:left;font-weight:900;" asp-page-handler="StudyGroupDelete" asp-route-id="@item.Id" method="post" onsubmit="return confirm('Are you sure you want to delete this item?');">
                                @{ sn++;}
                                (@sn)   @item.Title  
                                
                            </form>
                        </div>

                    }



                </div>
            }
            else
            {
                <p><i>Empty</i></p>
            }


        </div>
    </div>
</div>
 