@model JurayUniversal.Domain.Models.SuperSetting
@{
    string title = ViewData["Title"]?.ToString();
    string uppercaseTitle = title?.ToUpper();
}
<title>@uppercaseTitle | @Model.WebsiteTitle</title>
<link rel="shortcut icon" href="@Model.CompanyIconUrl" type="image/x-icon" />

 
@Html.Raw(ViewBag.DataConfigs.Configuration)


<meta property="og:site_name" content="@ViewData["Title"]">
<meta property="og:title" content="@ViewData["PageName"]" />
<meta property="og:description" content="@ViewData["Description"]" />
<meta property="og:image" itemprop="image" content="@ViewData["Image"]">
<meta property="og:type" content="website" />
<meta property="og:updated_time" content="@DateTime.UtcNow.AddHours(1)" />



