@model JurayUniversal.Application.Dtos.PortfolioNameAndImageDto

@{

}
<title>@Model.Fullname</title>
<meta name="description" content="@Model.Description">

<!-- Open Graph Tags for Social Media -->
<meta property="og:title" content="@Model.Fullname">
<meta property="og:description" content="@Model.Description">
<meta property="og:image" content="@Model.Image">
<meta property="og:url" content="@Model.Website">

<!-- Twitter Card Tags for Social Media -->
<meta name="twitter:title" content="@Model.Fullname">
<meta name="twitter:description" content="@Model.Description">
<meta name="twitter:image" content="@Model.Image"> 

<!-- Canonical Tag -->
<link rel="canonical" href="@Model.Website/canonical-url">

<!-- Robots Meta Tag -->
<meta name="robots" content="index, follow">
 
<link rel="shortcut icon" href="@Model.Image" type="image/x-icon" />
