@page
@model JurayUniversal.Website.Areas.Management.Pages.V3.EditModel

@{
    ViewData["Title"] = "JSSL SETTINGS Edit";
}

<h1>Edit</h1>

<h4>SuperSetting</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SuperSetting.Id" />
            <input type="hidden" asp-for="SuperSetting.ReloaderIconKey" />
            <input type="hidden" asp-for="SuperSetting.ReloaderIconUrl" />

            <input type="hidden" asp-for="SuperSetting.CompanyIconKey" />
            <input type="hidden" asp-for="SuperSetting.CompanyIconUrl" />

            <input type="hidden" asp-for="SuperSetting.CompanyLogoKey" />
            <input type="hidden" asp-for="SuperSetting.CompanyLogoUrl" />

            <input type="hidden" asp-for="SuperSetting.CompanyWhiteLogoKey" />
            <input type="hidden" asp-for="SuperSetting.CompanyWhiteLogoUrl" />

            <input type="hidden" asp-for="SuperSetting.LoginBackgroundImageUrl" />
            <input type="hidden" asp-for="SuperSetting.LoginBackgroundImageKey" />

            <input type="hidden" asp-for="SuperSetting.VerifyTokenFolio" />
            <input type="hidden" asp-for="SuperSetting.ActivateProfilePortfolio" />

            <input type="hidden" asp-for="SuperSetting.PortfolioImageOneUrl" />
            <input type="hidden" asp-for="SuperSetting.PortfolioImageOneKey" />

            <input type="hidden" asp-for="SuperSetting.PortfolioImageTwoUrl" />
            <input type="hidden" asp-for="SuperSetting.PortfolioImageTwoKey" />

            <input type="hidden" asp-for="SuperSetting.PortfolioBreacrumImageUrl" />
            <input type="hidden" asp-for="SuperSetting.PortfolioBreacrumImageKey" />

            <input type="hidden" asp-for="SuperSetting.PlayStoreImageKey" />
            <input type="hidden" asp-for="SuperSetting.PlayStoreImageUrl" />

            <input type="hidden" asp-for="SuperSetting.AppStoreImageKey" />
            <input type="hidden" asp-for="SuperSetting.AppStoreImageUrl" />

            <input type="hidden" asp-for="SuperSetting.EncryptionKey" />
            <input type="hidden" asp-for="SuperSetting.EncryptionUrl" />

            @if (Model.SuperSetting.ActivateProfilePortfolio == false)
            {

                <input type="hidden" asp-for="SuperSetting.PortfolioTitle" />
                <input type="hidden" asp-for="SuperSetting.PortfolioMiniTitle" />
                <input type="hidden" asp-for="SuperSetting.PortfolioDescription" />
            }

            <div class="form-group">
                <label asp-for="SuperSetting.BucketName" class="control-label">Bucket Storage Name (Ask Developer)</label>
                <input asp-for="SuperSetting.BucketName" class="form-control" />
                <span asp-validation-for="SuperSetting.BucketName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SuperSetting.MaximumUsers" class="control-label"></label>
                <input asp-for="SuperSetting.MaximumUsers" class="form-control" />
                <span asp-validation-for="SuperSetting.MaximumUsers" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="SuperSetting.UserNipssArea" /> @Html.DisplayNameFor(model => model.SuperSetting.UserNipssArea)
                </label>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="SuperSetting.ActivateLoginInMenu" /> @Html.DisplayNameFor(model => model.SuperSetting.ActivateLoginInMenu)
                </label>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="SuperSetting.ActivateLogin" /> @Html.DisplayNameFor(model => model.SuperSetting.ActivateLogin)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="SuperSetting.TemplateLayoutKey" class="control-label"></label>
                <select asp-for="SuperSetting.TemplateLayoutKey" class="form-control">
                    <option value="">Choose</option>
                    <option value="Layout1111">Redbiz Template</option>
                    <option value="Layout2222">Carsport Template</option>
                    <option value="Layout3333">Alina Template</option>
                    <option value="Layout4444">Archo Template</option>
                    <option value="Layout5555">Bizup Template</option>
                    <option value="Layout6666">Industry Template</option>
                    <option value="Layout7777">Lawnella Template</option>
                    <option value="Layout8888">Mistro Template</option>
                    <option value="Layout9999">Senatory Template</option>
                    <option value="Layout11111111">Education Template</option>
                    <option value="Layout12121212">Streamlab Template</option>
                </select>
                <span asp-validation-for="SuperSetting.TemplateLayoutKey" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SuperSetting.LoginTemplateKey" class="control-label"></label>
                <select asp-for="SuperSetting.LoginTemplateKey" class="form-control">
                    <option value="">Choose</option>
                    <option value="Login1111">Login One</option>
                    <option value="Login2222">Login Two</option>
                    <option value="Login3333">Login Three</option>
                    <option value="Login4444">Login Four</option>
                    <option value="Login5555">Login Five</option>
                    <option value="Login6666">Login Agilevendor</option>
                </select>
                <span asp-validation-for="SuperSetting.LoginTemplateKey" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SuperSetting.ColorTemplateKey" class="control-label"></label>
                <select asp-for="SuperSetting.ColorTemplateKey" class="form-control">
                    <option value="">Choose</option>
                    <option value="Colour1111">Colour One</option>
                    <option value="Colour2222">Colour Two</option>
                    <option value="Colour3333">Colour Three</option>
                    <option value="Colour4444">Colour Four</option>
                    <option value="Colour5555">Colour Five</option>
                    <option value="Colour6666">Colour Six</option>
                </select>
                <span asp-validation-for="SuperSetting.ColorTemplateKey" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SuperSetting.SliderTemplateKey" class="control-label"></label>
                <select asp-for="SuperSetting.SliderTemplateKey" class="form-control">
                    <option value="">Choose</option>
                    <option value="Slider1111">Slider One</option>
                    <option value="Slider2222">Slider Two</option>
                    <option value="Slider3333">Slider Three</option>
                    <option value="Slider4444">Slider Four</option>
                    <option value="Slider5555">Slider Five</option>
                    <option value="Slider6666">Slider Six</option>
                </select>
                <span asp-validation-for="SuperSetting.SliderTemplateKey" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SuperSetting.ProductTemplateKey" class="control-label"></label>
                <select asp-for="SuperSetting.ProductTemplateKey" class="form-control">
                    <option value="">Choose</option>
                    <option value="Product1111">Product One</option>
                    <option value="Product2222">Product Two</option>
                    <option value="Product3333">Product Three</option>
                    <option value="Product4444">Product Four</option>
                    <option value="Product5555">Product Five</option>
                    <option value="Product6666">Product Six</option>
                </select>
                <span asp-validation-for="SuperSetting.ProductTemplateKey" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SuperSetting.BlogTemplateKey" class="control-label"></label>
                <select asp-for="SuperSetting.BlogTemplateKey" class="form-control">
                    <option value="">Choose</option>
                    <option value="Blog1111">Blog One</option>
                    <option value="Blog2222">Blog Two</option>
                    <option value="Blog3333">Blog Three</option>
                    <option value="Blog4444">Blog Four</option>
                    <option value="Blog5555">Blog Five</option>
                    <option value="Blog6666">Blog Six</option>
                </select>
                <span asp-validation-for="SuperSetting.BlogTemplateKey" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SuperSetting.ReloaderTemplateKey" class="control-label"></label>
                <select asp-for="SuperSetting.ReloaderTemplateKey" class="form-control">
                    <option value="">Choose</option>
                    <option value="Reloader1111">Reloader One</option>
                    <option value="Reloader2222">Reloader Two</option>
                    <option value="Reloader3333">Reloader Three</option>
                    <option value="Reloader4444">Reloader Four</option>
                    <option value="Reloader5555">Reloader Five</option>
                    <option value="Reloader6666">Reloader Six</option>
                </select>
                <span asp-validation-for="SuperSetting.ReloaderTemplateKey" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SuperSetting.PageHeaderTemplateKey" class="control-label"></label>
                <select asp-for="SuperSetting.PageHeaderTemplateKey" class="form-control">
                    <option value="">Choose</option>
                    <option value="PageHeader1111">PageHeader One</option>
                    <option value="PageHeader2222">PageHeader Two</option>
                    <option value="PageHeader3333">PageHeader Three</option>
                    <option value="PageHeader4444">PageHeader Four</option>
                    <option value="PageHeader5555">PageHeader Five</option>
                    <option value="PageHeader6666">PageHeader Six</option>
                </select>
                <span asp-validation-for="SuperSetting.PageHeaderTemplateKey" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SuperSetting.FooterTemplateKey" class="control-label"></label>
                <select asp-for="SuperSetting.FooterTemplateKey" class="form-control">
                    <option value="">Choose</option>
                    <option value="Footer1111">Footer One</option>
                    <option value="Footer2222">Footer Two</option>
                    <option value="Footer3333">Footer Three</option>
                    <option value="Footer4444">Footer Four</option>
                    <option value="Footer5555">Footer Five</option>
                    <option value="Footer6666">Footer Six</option>
                </select>
                <span asp-validation-for="SuperSetting.FooterTemplateKey" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SuperSetting.CompanyNameAbbreviation" class="control-label"></label>
                <input asp-for="SuperSetting.CompanyNameAbbreviation" class="form-control" />
                <span asp-validation-for="SuperSetting.CompanyNameAbbreviation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SuperSetting.CompanyName" class="control-label"></label>
                <input asp-for="SuperSetting.CompanyName" class="form-control" />
                <span asp-validation-for="SuperSetting.CompanyName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SuperSetting.WebsiteTitle" class="control-label"></label>
                <input asp-for="SuperSetting.WebsiteTitle" class="form-control" />
                <span asp-validation-for="SuperSetting.WebsiteTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label" asp-for="SuperSetting.CompanyDescription"></label><br />

                <textarea asp-for="SuperSetting.CompanyDescription" class="form-control "></textarea>
            </div>
            <div class="form-group">
                <label asp-for="SuperSetting.CompanyWebsiteLink" class="control-label"></label>
                <input asp-for="SuperSetting.CompanyWebsiteLink" class="form-control" />
                <span asp-validation-for="SuperSetting.CompanyWebsiteLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SuperSetting.DashboardTitle" class="control-label"></label>
                <input asp-for="SuperSetting.DashboardTitle" class="form-control" />
                <span asp-validation-for="SuperSetting.DashboardTitle" class="text-danger"></span>
            </div>

            @if (!String.IsNullOrEmpty(Model.SuperSetting.CompanyLogoUrl))
            {
                <div class="form-group">
                    <label class="control-label">Previouse Company Logo </label><br />
                    <img src="@Model.SuperSetting.CompanyLogoUrl" class="img-fluid" style="max-height:150px;" />
                </div>
            }

            <div class="form-group">
                <label class="control-label">Company Logo </label><br />
                <input type="file" class="control-label" asp-for="imagefilecompany" accept="image/*" />
            </div>
            @if (!String.IsNullOrEmpty(Model.SuperSetting.CompanyWhiteLogoUrl))
            {
                <div class="form-group">
                    <label class="control-label">Previouse Company White Logo </label><br />
                    <img src="@Model.SuperSetting.CompanyWhiteLogoUrl" class="img-fluid" style="max-height:150px;" />
                </div>
            }

            <div class="form-group">
                <label class="control-label">Company White Logo </label><br />
                <input type="file" class="control-label" asp-for="imagefilewhitecompany" accept="image/*" />
            </div>
            @if (!String.IsNullOrEmpty(Model.SuperSetting.CompanyIconUrl))
            {
                <div class="form-group">
                    <label class="control-label">Previouse Company Icon </label><br />
                    <img src="@Model.SuperSetting.CompanyIconUrl" class="img-fluid" style="max-height:150px;" />
                </div>
            }

            <div class="form-group">
                <label class="control-label">Company Icon </label><br />
                <input type="file" class="control-label" asp-for="imagefilecompanyicon" accept="image/*" />
            </div>

            @if (!String.IsNullOrEmpty(Model.SuperSetting.ReloaderIconUrl))
            {
                <div class="form-group">
                    <label class="control-label">Previouse Reloader Image/Gif </label><br />
                    <img src="@Model.SuperSetting.ReloaderIconUrl" class="img-fluid" style="max-height:150px;" />
                </div>
            }

            <div class="form-group">
                <label class="control-label">Reloader Image/Gif </label><br />
                <input type="file" class="control-label" asp-for="imagefilereloadicon" />
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="SuperSetting.JustWebsite" /> @Html.DisplayNameFor(model => model.SuperSetting.JustWebsite)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="SuperSetting.ActivateOnlyAuthorizedDevice" /> @Html.DisplayNameFor(model => model.SuperSetting.ActivateOnlyAuthorizedDevice)
                </label>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="SuperSetting.ActivateSMS" /> @Html.DisplayNameFor(model => model.SuperSetting.ActivateSMS)
                </label>
            </div>
            <div class="form-group">
                <label class="control-label" asp-for="SuperSetting.EmailTemplate"></label><br />

                <textarea asp-for="SuperSetting.EmailTemplate" class="form-control summernote"></textarea>
            </div>
            <div class="form-group">
                <label class="control-label" asp-for="SuperSetting.SMSTemplate"></label><br />

                <textarea asp-for="SuperSetting.SMSTemplate" class="form-control summernote"></textarea>
            </div>
            <div class="form-group">
                <label asp-for="SuperSetting.LoginTitle" class="control-label"></label>
                <input asp-for="SuperSetting.LoginTitle" class="form-control" />
                <span asp-validation-for="SuperSetting.LoginTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SuperSetting.LoginNoteTitle" class="control-label"></label>
                <input asp-for="SuperSetting.LoginNoteTitle" class="form-control" />
                <span asp-validation-for="SuperSetting.LoginNoteTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label" asp-for="SuperSetting.LoginNote"></label><br />

                <textarea asp-for="SuperSetting.LoginNote" class="form-control "></textarea>
            </div>
            <div class="form-group">
                <label class="control-label" asp-for="SuperSetting.LoginNoteFooter"></label><br />

                <textarea asp-for="SuperSetting.LoginNoteFooter" class="form-control "></textarea>
            </div>


            @if (!String.IsNullOrEmpty(Model.SuperSetting.LoginBackgroundImageUrl))
            {
                <div class="form-group">
                    <label class="control-label">Previouse Login Background Image </label><br />
                    <img src="@Model.SuperSetting.LoginBackgroundImageUrl" class="img-fluid" style="max-height:150px;" />
                </div>
            }

            <div class="form-group">
                <label class="control-label">Login Background Image </label><br />
                <input type="file" class="control-label" asp-for="imagelogin" accept="image/*" />
            </div>



            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="SuperSetting.UseNormalLogoInLogin" /> @Html.DisplayNameFor(model => model.SuperSetting.UseNormalLogoInLogin)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="SuperSetting.UseWhiteLogoInLogin" /> @Html.DisplayNameFor(model => model.SuperSetting.UseWhiteLogoInLogin)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="SuperSetting.ProductTitle" class="control-label"></label>
                <input asp-for="SuperSetting.ProductTitle" class="form-control" />
                <span asp-validation-for="SuperSetting.ProductTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SuperSetting.ProductTitleHome" class="control-label"></label>
                <input asp-for="SuperSetting.ProductTitleHome" class="form-control" />
                <span asp-validation-for="SuperSetting.ProductTitleHome" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="SuperSetting.ActivateComingSoon" /> @Html.DisplayNameFor(model => model.SuperSetting.ActivateComingSoon)
                </label>
            </div>







            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="SuperSetting.ShowMadeByJuray" /> @Html.DisplayNameFor(model => model.SuperSetting.ShowMadeByJuray)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="SuperSetting.ShowMadeByXYZ" /> @Html.DisplayNameFor(model => model.SuperSetting.ShowMadeByXYZ)
                </label>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="SuperSetting.ActivateProfilePortfolio" /> @Html.DisplayNameFor(model => model.SuperSetting.ActivateProfilePortfolio)
                </label>
            </div>

            @if (Model.SuperSetting.ActivateProfilePortfolio == true)
            {
                @if (!String.IsNullOrEmpty(Model.SuperSetting.PortfolioImageOneUrl))
                {
                    <div class="form-group">
                        <label asp-for="SuperSetting.PortfolioImageOneUrl" class="control-label"></label><br />
                        <img src="@Model.SuperSetting.PortfolioImageOneUrl" class="img-fluid" style="max-height:150px;" />
                    </div>
                }

                <div class="form-group">
                    <label class="control-label" asp-for="SuperSetting.PortfolioImageOneUrl"></label><br />
                    <input type="file" class="control-label" asp-for="imageport1" accept="image/*" />
                </div>

                @if (!String.IsNullOrEmpty(Model.SuperSetting.PortfolioImageTwoUrl))
                {
                    <div class="form-group">
                        <label asp-for="SuperSetting.PortfolioImageTwoUrl" class="control-label"></label><br />
                        <img src="@Model.SuperSetting.PortfolioImageTwoUrl" class="img-fluid" style="max-height:150px;" />
                    </div>
                }

                <div class="form-group">
                    <label class="control-label" asp-for="SuperSetting.PortfolioImageTwoUrl"></label><br />
                    <input type="file" class="control-label" asp-for="imageport2" accept="image/*" />
                </div>

                @if (!String.IsNullOrEmpty(Model.SuperSetting.PortfolioBreacrumImageUrl))
                {
                    <div class="form-group">
                        <label asp-for="SuperSetting.PortfolioBreacrumImageUrl" class="control-label"></label><br />
                        <img src="@Model.SuperSetting.PortfolioBreacrumImageUrl" class="img-fluid" style="max-height:150px;" />
                    </div>
                }

                <div class="form-group">
                    <label class="control-label" asp-for="SuperSetting.PortfolioBreacrumImageUrl"></label><br />
                    <input type="file" class="control-label" asp-for="imageport3" accept="image/*" />
                </div>

                <div class="form-group">
                    <label class="control-label" asp-for="SuperSetting.PortfolioTitle"></label><br />

                    <textarea asp-for="SuperSetting.PortfolioTitle" class="form-control "></textarea>
                </div>

                <div class="form-group">
                    <label class="control-label" asp-for="SuperSetting.PortfolioMiniTitle"></label><br />

                    <textarea asp-for="SuperSetting.PortfolioMiniTitle" class="form-control "></textarea>
                </div>

                <div class="form-group">
                    <label class="control-label" asp-for="SuperSetting.PortfolioDescription"></label><br />

                    <textarea asp-for="SuperSetting.PortfolioDescription" class="form-control "></textarea>
                </div>

                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="SuperSetting.ShowInMenuPortfolio" /> @Html.DisplayNameFor(model => model.SuperSetting.ShowInMenuPortfolio)
                    </label>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="SuperSetting.ShowInFooterPortfolio" /> @Html.DisplayNameFor(model => model.SuperSetting.ShowInFooterPortfolio)
                    </label>
                </div>

            }
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="SuperSetting.SpecialMenuButtonActivate" /> @Html.DisplayNameFor(model => model.SuperSetting.SpecialMenuButtonActivate)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="SuperSetting.SpecialMenuButtonLink" class="control-label"></label>
                <select asp-for="SuperSetting.SpecialMenuButtonLink" class="form-control" asp-items="ViewBag.WebPageId">
                    <option value="0">#</option>
                    <option value="Direct">Direct Link (https://www.juray.ng/)</option>
                    <option value="000">Contact Us Page</option>

                </select>

                <span asp-validation-for="SuperSetting.SpecialMenuButtonLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SuperSetting.SpecialMenuButtonText" class="control-label"></label>
                <input asp-for="SuperSetting.SpecialMenuButtonText" class="form-control" />
                <span asp-validation-for="SuperSetting.SpecialMenuButtonText" class="text-danger"></span>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="SuperSetting.ActivateWorkWithUsFooter" /> @Html.DisplayNameFor(model => model.SuperSetting.ActivateWorkWithUsFooter)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="SuperSetting.ActivateDownloadOurAppFooter" /> @Html.DisplayNameFor(model => model.SuperSetting.ActivateDownloadOurAppFooter)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="SuperSetting.TitleDownloadOurAppFooter" class="control-label"></label>
                <input asp-for="SuperSetting.TitleDownloadOurAppFooter" class="form-control" />
                <span asp-validation-for="SuperSetting.TitleDownloadOurAppFooter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SuperSetting.DescriptionDownloadOurAppFooter" class="control-label"></label>
                <input asp-for="SuperSetting.DescriptionDownloadOurAppFooter" class="form-control" />
                <span asp-validation-for="SuperSetting.DescriptionDownloadOurAppFooter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SuperSetting.AppStoreLink" class="control-label"></label>
                <input asp-for="SuperSetting.AppStoreLink" class="form-control" />
                <span asp-validation-for="SuperSetting.AppStoreLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SuperSetting.PlayStoreLink" class="control-label"></label>
                <input asp-for="SuperSetting.PlayStoreLink" class="form-control" />
                <span asp-validation-for="SuperSetting.PlayStoreLink" class="text-danger"></span>
            </div>




            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="SuperSetting.ActivateSubscribeFormOnFooter" /> @Html.DisplayNameFor(model => model.SuperSetting.ActivateSubscribeFormOnFooter)
                </label>
            </div>




            @if (!String.IsNullOrEmpty(Model.SuperSetting.AppStoreImageUrl))
            {
                <div class="form-group">
                    <label asp-for="SuperSetting.AppStoreImageUrl" class="control-label"></label><br />
                    <img src="@Model.SuperSetting.AppStoreImageUrl" class="img-fluid" style="max-height:150px;" />
                </div>
            }

            <div class="form-group">
                <label class="control-label" asp-for="SuperSetting.AppStoreImageUrl"></label><br />
                <input type="file" class="control-label" asp-for="appStoreImage" accept="image/*" />
            </div>

            @if (!String.IsNullOrEmpty(Model.SuperSetting.PlayStoreImageUrl))
            {
                <div class="form-group">
                    <label asp-for="SuperSetting.PlayStoreImageUrl" class="control-label"></label><br />
                    <img src="@Model.SuperSetting.PlayStoreImageUrl" class="img-fluid" style="max-height:150px;" />
                </div>
            }

            <div class="form-group">
                <label class="control-label" asp-for="SuperSetting.PlayStoreImageUrl"></label><br />
                <input type="file" class="control-label" asp-for="playStoreImage" accept="image/*" />
            </div>

            @if (!String.IsNullOrEmpty(Model.SuperSetting.EncryptionUrl))
            {
                <div class="form-group">
                    <label asp-for="SuperSetting.EncryptionUrl" class="control-label"></label><br />
                    <img src="@Model.SuperSetting.EncryptionUrl" class="img-fluid" style="max-height:150px;" />
                </div>
            }

            <div class="form-group">
                <label class="control-label" asp-for="SuperSetting.EncryptionUrl"></label><br />
                <input type="file" class="control-label" asp-for="encrytionupload" accept="image/*" />
            </div>

            <div class="form-group">
                <label asp-for="SuperSetting.EncryptionNote" class="control-label"></label>
                <textarea asp-for="SuperSetting.EncryptionNote" class="form-control"></textarea>
                <span asp-validation-for="SuperSetting.EncryptionNote" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
