@page
@model JurayUniversal.Website.Areas.Admin.Pages.IFunds.CompanyFunds.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">DETAILS COMPANY FUNDS</h3>

    </div>
    <!-- /.card-header -->

    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div>
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.CompanyFund.FundType)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.CompanyFund.FundType)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.CompanyFund.FundStatus)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.CompanyFund.FundStatus)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.CompanyFund.FundSource)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.CompanyFund.FundSource.Description)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.CompanyFund.FundMeans)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.CompanyFund.FundMeans)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.CompanyFund.ReceiptUrl)
                        </dt>
                        <dd class="col-sm-10">
                            <a href="@Model.CompanyFund.ReceiptUrl" target="_blank">
                                View Receipt
                            </a>

                        </dd>

                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.CompanyFund.Date)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.CompanyFund.Date)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.CompanyFund.Note)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.CompanyFund.Note)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.CompanyFund.Amount)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.CompanyFund.Amount)
                        </dd>
                    </dl>
                </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                <a asp-page="./Index" class="btn bg-gradient-warning btn-sm">Back</a>

            </div>
        </div>
    </div>
