@page
@model JurayUniversal.Website.Areas.NIPSSADMIN.Pages.NutriValution.DownloadEvaluationModel
@{
}
@{
    //Layout = "/Pages/Shared/_Pdf_Layout.cshtml";
    Layout = null;
}
<html>
<head>
    <title id="page-title-j" style="text-transform: uppercase;"> Nutrition Evaluation | National Institute for Policy and Strategic Studies – Kuru</title>
    <link rel="shortcut icon" href="https://nipss24.s3.amazonaws.com/c53c6a8c-967d-4694-856f-e7ed67d0cf4f.jpg?AWSAccessKeyId=AKIA4Y267QYK25XMO6WE&amp;Expires=1801924559&amp;Signature=hj3h5Y0Z7Xy5%2FG1RVG4tgpSHjkM%3D" type="image/x-icon">
    <link href="~/dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>
    <script>
        // Function to handle download
        function downloadFunction() {

            const element = document.getElementById('body');
            const formattedDate = '@Model.UserDatas.FullnameX.ToUpper().Replace(" ", "_").Replace("'", "").Replace("/", "").Replace(".", "").Replace("-", "")';
            const options = {
                margin: 10,
                filename: 'Nutri_Evaluation_' + formattedDate + '.pdf',
                image: { type: 'jpeg', quality: 1.0 },
                html2canvas: { scale: 4 },
                jsPDF: { unit: 'mm', format: 'a4', orientation: 'portrait' }
            };
            html2pdf(element, options);

        }
    </script>
</head>
<body>
    <div class="container">
        <button onclick="downloadFunction()" class="btn btn-primary" style="margin:20px;padding:10px;text-align:center;">Download as PDF</button>

        <div id="body" class="avoid-break">

            <style>
                body {
                    margin: 0;
                    font-family: "Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
                    font-size: 1rem;
                    font-weight: 400;
                    line-height: 1.5;
                    color: #212529;
                    text-align: left;
                    background-color: #fff;
                    margin-top: 5m; /* Adjust this value as needed */
                    margin-bottom: 5mm; /* Adjust this value as needed */

                    word-break: break-all;
                }


                .card-header1 {
                    background-color: #007D53 !important;
                    color: white;
                    text-align: center;
                    vertical-align: middle;
                }

                .input-group-sm > .custom-select, .input-group-sm > .form-control:not(textarea) {
                    height: auto;
                }

                .daiv {
                    box-shadow: 0px 11px 35px 0px #c5b5b4;
                    word-break: break-all;
                }

                .secdaiv {
                    box-shadow: 0px 4px 5px 0px #c5b5b4;
                    word-break: break-all;
                }

                table {
                    width: 100%;
                    border-collapse: collapse;
                }

                th, td {
                    padding: 5px;
                    border-bottom: 1px solid #ccc;
                    text-align: left;
                    vertical-align: top;
                }

                th {
                    width: 30%;
                }

                @@media print {
                    /* Avoid breaking specific elements across pages */
                    .avoid-break {
                        page-break-inside: avoid;
                    }
                }

                img {
                    page-break-inside: avoid !important;
                }

                p {
                    page-break-inside: avoid !important;
                }

                tr {
                    page-break-inside: avoid !important;
                }

                .secdaiv {
                    page-break-inside: avoid !important;
                }

                h5 {
                    page-break-inside: avoid !important;
                }

                span {
                    page-break-inside: avoid !important;
                }

                strong {
                    page-break-inside: avoid !important;
                }

                .personel {
                    page-break-inside: avoid !important;
                }

                th, td {
                    font-size: 14px;
                    padding: 0.1rem 0.5rem;
                }
            </style>


            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header" style="margin:0 auto;text-align:center;">
                            <img src="~/NIPSS-logo-x.png" style="margin:0 auto;text-align:center;max-height:80px;padding:10px;" />

                        </div>
                        <div class="card-header card-header1">
                            <h4 class="card-title">NUTRITIONAL EVALUATION FOR @Model.UserDatas.FullnameX.ToUpper()</h4>


                        </div>

                        <div class="card-body">
                            <p>
                                This form is designed to assess your nutritional/dietary requirements and preferences in line with your health/medical requirements/conditions. It will guide the Catering Service Department in the course of the preparation and management of your nutritional needs, during the Senior Executive Course (SEC) 46, 2024. Please note that information provided by you herein will not be used for any other purpose other than the need to plan and implement your nutritional/dietary needs.
                            </p>
                            <div class="row">
                                <div class="col-md-12">
                                    <div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <table style="width:100%; border-collapse: collapse;">
                                                    <tbody>

                                                        <tr>
                                                            <th align="start" style="width:50%; border-bottom: 1px solid #ccc; padding: 10px;">

                                                                <h5>Passport Photograph</h5>
                                                                <img class="" src="data:image/jpg;base64,@(Convert.ToBase64String(Model.PassportImage))" style="max-height:120px;" />
                                                            </th>
                                                            <td align="start" style="width: 50%; border-bottom: 1px solid #ccc; padding: 10px;">
                                                                <h5>Verification Barcode</h5>
                                                                <img class="" src="data:image/jpg;base64,@(Convert.ToBase64String(Model.BarcodeImage))" style="max-height:120px;" />
                                                            </td>
                                                        </tr>


                                                        <tr>
                                                            <th align="start" style="width:30%; border-bottom: 1px solid #ccc; padding: 10px;">
                                                                @Html.DisplayNameFor(model => model.UserDatas.PhoneNumber)
                                                            </th>
                                                            <td align="start" style="border-bottom: 1px solid #ccc; padding: 10px;">
                                                                @Html.DisplayFor(model => model.UserDatas.PhoneNumber)
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <th align="start" style="width:30%; border-bottom: 1px solid #ccc; padding: 10px;">
                                                                @Html.DisplayNameFor(model => model.UserDatas.Email)
                                                            </th>
                                                            <td align="start" style="border-bottom: 1px solid #ccc; padding: 10px;">
                                                                @Html.DisplayFor(model => model.UserDatas.Email)
                                                            </td>
                                                        </tr>


                                                        <tr>
                                                            <th align="start" style="width:30%; border-bottom: 1px solid #ccc; padding: 10px;">
                                                                @Html.DisplayNameFor(model => model.UserDatas.Role)
                                                            </th>
                                                            <td align="start" style="border-bottom: 1px solid #ccc; padding: 10px;">
                                                                @Html.DisplayFor(model => model.UserDatas.Role)
                                                            </td>
                                                        </tr>



                                                        @if (Model.Participant != null)
                                                        {

                                                            <tr>
                                                                <th align="start" style="width:30%; border-bottom: 1px solid #ccc; padding: 10px;">
                                                                    Course
                                                                </th>
                                                                <td align="start" style="border-bottom: 1px solid #ccc; padding: 10px;">
                                                                    @Model.Participant.Course.CourseCategory.Name (@Model.Participant.Course.CourseCategory.Abbreviation @Model.Participant.Course.SecNumber, @Model.Participant.Course.Year.ToString("yyyy"))

                                                                </td>
                                                            </tr>

                                                        }


                                                    </tbody>
                                                </table>

                                                <div>
                                                    <div class="card-header">
                                                        <h3 class="card-title text-center">ASSESSMENT OF NUTRITIONAL/DIETARY</h3>

                                                    </div>
                                                    <div class="card-body" style="margin:0rem 1rem;">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                @{
                                                                    int sn = 0;
                                                                }

                                                                @foreach (var item in Model.ParticipantNutritionCategory)
                                                                {
                                                                    <div class="">
                                                                        @{
                                                                            sn++;
                                                                        }
                                                                        <div class="card-header" style="padding:0.1rem 1rem;">
                                                                            <h6 class="card-title" style="font-weight:500;">
                                                                                (@sn) @item.Name
                                                                            </h6>
                                                                        </div>
                                                                        <div class="card-body" style="margin:0rem 1rem;">
                                                                            @foreach (var list in Model.UserNutritionEvaluation.Where(x => x.NutritionCategoryId == item.Id))
                                                                            {
                                                                                <table class="table table-bordered" style="margin-bottom: 0.1rem;">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <th style="padding: 0.1rem 0.5rem; font-size: 14px; ">
                                                                                                @list.NutritionCategoryList.Question
                                                                                            </th>
                                                                                            <td style="">
                                                                                                @list.Result

                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>

                                                                                </table>

                                                                            }




                                                                        </div>
                                                                    </div>
                                                                }

                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>


                                            </div>



                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>
</html>
