@page
@model JurayUniversal.Website.Areas.NIPSSADMIN.Pages.NutriValution.EvaluationModel

@{
    ViewData["Title"] = "Evaluation";
}


<div class="card">
    <div class="card-header">
        <h3 class="card-title">PARTICIPANTS/STAFF ASSESSMENT OF NUTRITIONAL/DIETARY</h3>


    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <div class="table-responsive">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>S/N</th>
                        <th>
                            Fullname
                        </th>
                         
                        <th>Email</th>
                        <th>Phone</th>
                       
                        <th>Action</th>
                    </tr>
                </thead>

                @{
                    int sn = 0;
                }
                <tbody>
                    @foreach (var item in Model.UserDto)
                    {
                        <tr>

                            <td>
                                @{
                                    sn++;
                                }
                                @sn
                            </td>
                            <td>
                                <a asp-page="/Users/Info" asp-route-id="@item.Id">
                                    @Html.DisplayFor(modelItem => item.FullName)

                                </a>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Phone)
                            </td>
                           
                            <td>
                                <a class="btn btn-primary" asp-page="./UserEvaluationResult" asp-route-id="@item.Id">View Evaluation</a>

                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>




 