@page
@model JurayUniversal.Website.Pages.BpgModel

@using System.Text.RegularExpressions;

@{
    Regex regex = new Regex("[^a-zA-Z0-9]");
}

@{
    ViewData["Title"] = "";

    ViewData["PageName"] = "OUR NEWS UPDATE";
    ViewData["Description"] = Model.SuperSetting.CompanyDescription;
    ViewData["Image"] = Model.SuperSetting.CompanyLogoUrl;

    @if (Model.Templatechoose == "Layout1111")
    {
        Layout = "/Pages/Shared/Layouts/Theme/RedbizTheme/_RedbizLayout.cshtml";
    }
    else if (Model.Templatechoose == "Layout2222")
    {
        Layout = "/Pages/Shared/Layouts/Theme/Carspot/_CarspotLayout.cshtml";
    }
    else if (Model.Templatechoose == "Layout3333")
    {
        Layout = "/Pages/Shared/Layouts/Theme/Alina/_AlinaLayout.cshtml";
    }
    else if (Model.Templatechoose == "Layout4444")
    {
        Layout = "/Pages/Shared/Layouts/Theme/Archo/_ArchoLayout.cshtml";
    }
    else if (Model.Templatechoose == "Layout5555")
    {
        Layout = "/Pages/Shared/Layouts/Theme/Bizup/_BizupLayout.cshtml";
    }
    else if (Model.Templatechoose == "Layout6666")
    {
        Layout = "/Pages/Shared/Layouts/Theme/Industry/_IndustryLayout.cshtml";
    }
    else if (Model.Templatechoose == "Layout7777")
    {
        Layout = "/Pages/Shared/Layouts/Theme/Lawnella/_LawnellaLayout.cshtml";
    }
    else if (Model.Templatechoose == "Layout8888")
    {
        Layout = "/Pages/Shared/Layouts/Theme/Mistro/_MistroLayout.cshtml";
    }
    else if (Model.Templatechoose == "Layout9999")
    {
        Layout = "/Pages/Shared/Layouts/Theme/Senatory/_SenatoryLayout.cshtml";
    }
    else if (Model.Templatechoose == "Layout11111111")
    {
        Layout = "/Pages/Shared/Layouts/Theme/Education/_EducationLayout.cshtml";
    }
    else if (Model.Templatechoose == "Layout12121212")
    {
        Layout = "/Pages/Shared/Layouts/Theme/Streamlab/_StreamlabLayout.cshtml";
    }
}
@await Component.InvokeAsync("BreadcrumOthers", new { data = Model.Setting.BlogDisplayTitle })

@if (Model.SuperSetting.TemplateLayoutKey == "Layout1111")
{

    if (Model.SuperSetting.BlogTemplateKey == "Blog1111")
    {
        <div class="section-block-grey">
            <div class="container">
                <div class="row">
                    @foreach (var item in Model.Blogs)
                    {
                        <div class="col-md-4 col-sm-4 col-12">
                            <div class="blog-grid">
                                <div class="blog-grid-img">
                                    <img src="@item.ImageUrl" alt="@item.Title" style="height:220px;">
                                    <div class="data-box-grid">
                                        <h4>@item.Date.ToString("dd")</h4>
                                        <p>@item.Date.ToString("MMM")</p>
                                    </div>
                                </div>
                                <div class="blog-grid-text">
                                    <h4 style=" height: 54px;overflow:hidden;">@item.Title</h4>
                                    <ul>
                                        <li><i class="fa fa-calendar"></i>@item.Date.ToString("MMM dd, yyyy")</li>

                                    </ul>
                                    <div class="choose-3-line">
                                        <p style=" height: 107px; overflow: hidden;text-overflow:ellipsis !important;">
                                            @item.Description
                                        </p>
                                    </div>
                                    <div class="mt-20 left-holder" style="margin-top:5px;">
                                        <a asp-page="/Bpg_info" asp-route-id="@item.Id" asp-route-title="@regex.Replace(item.Title, "-")" class="primary-button button-sm">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    }


}

else if (Model.SuperSetting.TemplateLayoutKey == "Layout2222")
{
    if (Model.SuperSetting.BlogTemplateKey == "Blog1111")
    {
        <section class="section-padding no-top error-page pattern-bgs gray ">
            <!-- Main Container -->
            <div class="container">
                <div class="heading-panel" style="margin-bottom:20px;">
                    <div class="col-xs-12 col-md-12 col-sm-12 text-center">
                        <!-- Main Title -->
                        <h1 style="margin-top:20px;">@Model.Setting.BlogDisplayTitle</h1>
                        <!-- Short Description -->
                    </div>
                </div>
                <!-- Row -->
                <div class="row">
                    <!-- Middle Content Area -->
                    <div class="col-md-12 col-xs-12 col-sm-12">
                        <div class="row">
                            <!-- Blog Archive -->
                            <div class="posts-masonry">
                                @foreach (var item in Model.Blogs)
                                {
                                    <!-- Blog Post-->
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="blog-post">
                                            <div class="post-img">
                                                <a asp-page="/Bpg_info" asp-route-id="@item.Id" asp-route-title="@regex.Replace(item.Title, "-")"> <img class="img-responsive" alt="@item.Title" src="@item.ImageUrl" style="height:270px;"> </a>

                                            </div>
                                            <div class="post-info"> <a href="">@item.Date.ToString("MMM dd, yyyy")</a>  </div>
                                            <h3 class="post-title"> <a asp-page="/Bpg_info" asp-route-id="@item.Id" asp-route-title="@regex.Replace(item.Title, "-")"> @item.Title </a> </h3>
                                            <p class="post-excerpt">
                                                @item.Description  																						<a asp-page="/Bpg_info" asp-route-id="@item.Id" asp-route-title="@regex.Replace(item.Title, "-")"><strong>Read More</strong></a>
                                            </p>
                                        </div>
                                    </div>
                                    <!-- Blog Post-->
                                }

                            </div>

                        </div>
                    </div>

                </div>
                <!-- Row End -->
            </div>
            <!-- Main Container End -->
        </section>
    }

}
else if (Model.SuperSetting.TemplateLayoutKey == "Layout3333")
{
    if (Model.SuperSetting.BlogTemplateKey == "Blog1111")
    {

    }

}
else if (Model.SuperSetting.TemplateLayoutKey == "Layout4444")
{
    if (Model.SuperSetting.BlogTemplateKey == "Blog1111")
    {
        <section class="blog-pg section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="posts">
                            <div class="row">
                                @foreach (var item in Model.Blogs)
                                {
                                    <div class="col-md-6">
                                        <div class="item mb-80">
                                            <div class="img">
                                                <a asp-page="/Bpg_info" asp-route-id="@item.Id" asp-route-title="@regex.Replace(item.Title, "-")">
                                                    <img src="@item.ImageUrl" alt="@item.Title" class="thumparallax">
                                                </a>
                                                <div class="info">
                                                    <div class="date">
                                                        <h5>
                                                            <a asp-page="/Bpg_info" asp-route-id="@item.Id" asp-route-title="@regex.Replace(item.Title, "-")">
                                                                <span class="num custom-font">@item.Date.ToString("dd")</span>
                                                                <span>@item.Date.ToString("MMM")</span>
                                                            </a>
                                                        </h5>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-10 offset-lg-1">
                                                    <div class="content">

                                                        <h4 class="title">
                                                            <a asp-page="/Bpg_info" asp-route-id="@item.Id" asp-route-title="@regex.Replace(item.Title, "-")">
                                                                @item.Title
                                                            </a>
                                                        </h4>
                                                        <p>
                                                            @item.Description
                                                        </p>
                                                        <a asp-page="/Bpg_info" asp-route-id="@item.Id" asp-route-title="@regex.Replace(item.Title, "-")" class="more">Read More</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </section>
    }
}
else if (Model.SuperSetting.TemplateLayoutKey == "Layout5555")

{
    if (Model.SuperSetting.BlogTemplateKey == "Blog1111")
    {
        <!-- Blog Section Start -->
        <div class="rs-inner-blog pt-100 pb-100 md-pt-70 md-pb-70">
            <div class="container custom">
                <div class="row">
                    
                    <div class="col-lg-12 pr-35 md-pr-15 md-mt-50">
                        <div class="row">
                            @foreach (var item in Model.Blogs)
                            {
                                <div class="col-lg-4 col-md-4 mb-50">
                                    <div class="blog-item">
                                        <div class="blog-img">
                                            <a asp-page="/Bpg_info" asp-route-id="@item.Id" asp-route-title="@regex.Replace(item.Title, "-")">
                                                <img src="@item.ImageUrl" alt="@item.Title" class="thumparallax">
                                            </a>


                                        </div>
                                        <div class="blog-content">
                                            <h3 class="blog-title">
                                                <a asp-page="/Bpg_info" asp-route-id="@item.Id" asp-route-title="@regex.Replace(item.Title, "-")">
                                                    @item.Title
                                                    </a>
                                            </h3>
                                            <div class="blog-meta">
                                                <ul class="btm-cate">
                                                    <li>
                                                        <div class="blog-date">
                                                            <i class="fa fa-calendar-check-o"></i> @item.Date.ToString("MMM dd, yyyy")
                                                        </div>
                                                    </li>

                                                </ul>
                                            </div>
                                            <div class="blog-desc">
                                                @item.Description
                                            </div>
                                            <div class="blog-button">
                                                <a asp-page="/Bpg_info" asp-route-id="@item.Id" asp-route-title="@regex.Replace(item.Title, "-")" class="blog-btn">Continue Reading</a>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Blog Section End -->
    }
}
else if (Model.SuperSetting.TemplateLayoutKey == "Layout6666")
{
    if (Model.SuperSetting.BlogTemplateKey == "Blog1111")
    {
        <div class="rs-inner-blog pt-100 pb-100 md-pt-70 md-pb-70">
            <div class="container custom">
                <div class="row">
                    <div class="col-lg-4 col-md-12 order-last">

                    </div>
                    @foreach (var item in Model.Blogs)
                    {
                        <div class="col-lg-8 pr-35 md-pr-15 md-mt-50">
                            <div class="row">
                                <div class="col-lg-6 col-md-12 mb-50">
                                    <div class="blog-item">
                                        <div class="blog-img">
                                            <a asp-page="/Bpg_info" asp-route-id="@item.Id" asp-route-title="@regex.Replace(item.Title, "-")">
                                                <img src="@item.ImageUrl"
                                                     alt="@item.Title">
                                            </a>

                                        </div>
                                        <div class="blog-content">
                                            <h3 class="blog-title">
                                                <a asp-page="/Bpg_info" asp-route-id="@item.Id" asp-route-title="@regex.Replace(item.Title, "-")">
                                                    @item.Title
                                                </a>
                                            </h3>
                                            <div class="blog-meta">
                                                <ul class="btm-cate">
                                                    <li>
                                                        <div class="blog-date">
                                                            <i class="fa fa-calendar-check-o"></i> @item.Date.ToString("MMM dd, yyyy")
                                                        </div>
                                                    </li>

                                                </ul>
                                            </div>
                                            <div class="blog-desc">
                                                @item.Description
                                            </div>
                                            <div class="blog-button">
                                                <a asp-page="/Bpg_info" asp-route-id="@item.Id" asp-route-title="@regex.Replace(item.Title, "-")" class="blog-btn">Continue Reading</a>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    }

}
else if (Model.SuperSetting.TemplateLayoutKey == "Layout7777")
{
    if (Model.SuperSetting.BlogTemplateKey == "Blog1111")
    {
        <section class="blog_right_sidebar">
            <div class="container">



                <div class="row">

                    <div class="col-lg-8 col-md-12">

                        <div class="right_sidebar_details news_type_one">
                            <div class="row">
                                @foreach (var item in Model.Blogs)
                                {
                                    <div class="col-sm-12">
                                        <div class="latest_news_inner type_four">
                                            <div class="image">
                                                <img src="@item.ImageUrl" class="img-fluid" alt="@item.Title">


                                            </div>
                                            <div class="content_inner">
                                                <div class="tag">
                                                    <a asp-page="/Bpg_info" asp-route-id="@item.Id" asp-route-title="@regex.Replace(item.Title, "-")">><span class="icon-folder"></span>@item.BlogCategory</a>
                                                </div>
                                                <h2>
                                                    <a asp-page="/Bpg_info" asp-route-id="@item.Id" asp-route-title="@regex.Replace(item.Title, "-")">>@item.Title </a>
                                                </h2>
                                                <ul>
                                                    <li><span class="icon-calendar"></span>@item.Date.ToString("MMM dd, yyyy")</li>
                                                </ul>
                                                <p>@item.Description</p>

                                                <ul class="bottom_box">
                                                    <li>
                                                        <a asp-page="/Bpg_info" asp-route-id="@item.Id" asp-route-title="@regex.Replace(item.Title, "-")" class="theme_btn">Read More</a>
                                                    </li>


                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                }


                            </div>
                        </div>



                    </div>







                </div>


            </div>

        </section>
    }

}
else if (Model.SuperSetting.TemplateLayoutKey == "Layout8888")
{
    if (Model.SuperSetting.BlogTemplateKey == "Blog1111")
    {
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-12 order-lg-12">
                        @foreach (var item in Model.Blogs)
                        {
                            <div class="blog-classic">
                                <div class="post">
                                    <div class="post-image">
                                        <img src="@item.ImageUrl" alt="@item.Title">
                                        <div class="post-date"><i class="fa fa-calendar-check-o"></i> @item.Date.ToString("MMM dd, yyyy")</div>
                                    </div>
                                    <div class="post-desc">
                                        <div class="post-title">
                                            <h5><a asp-page="/Bpg_info" asp-route-id="@item.Id" asp-route-title="@regex.Replace(item.Title, "-")">@item.Title</a></h5>
                                        </div>
                                        <p>@item.Description</p>
                                    </div>
                                    <div class="post-bottom">

                                        <a asp-page="/Bpg_info" asp-route-id="@item.Id" asp-route-title="@regex.Replace(item.Title, "-")" class="post-btn">Read More<i class="ms-2 fas fa-long-arrow-alt-right"></i></a>

                                    </div>
                                </div>
                            </div>
                        }

                    </div>

                </div>
            </div>
        </section>
    }

}
else if (Model.SuperSetting.TemplateLayoutKey == "Layout9999")
{
    if (Model.SuperSetting.BlogTemplateKey == "Blog1111")
    {
        <div class="issues-around-us-section style-01">
            <div class="container">
                <div class="row">
                    @foreach (var item in Model.Blogs)
                    {
                        <div class="col-lg-4 col-md-6">
                            <div class="news-single-items-two">
                                <div class="thumbnail">
                                    <img src="@item.ImageUrl" alt="@item.Title">

                                </div>
                                <div class="content">
                                    <div class="post-meta">

                                        <div class="post-date">
                                            <div class="icon">
                                                <img src="~/Layout/Senatory/assets/img/home-six/icon/calender-02.png" alt="">
                                            </div>
                                            <p class="date">@item.Date.ToString("MMM dd, yyyy")</p>
                                        </div>
                                    </div>
                                    <h4 class="title">@item.Title</h4>
                                    <p>@item.Description</p>
                                    <div class="btn-wrapper">
                                        <a asp-page="/Bpg_info" asp-route-id="@item.Id" asp-route-title="@regex.Replace(item.Title, "-")" class="boxed-btn event-btn"><i class="fas fa-arrow-right"></i>Read More</a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>

            </div>
        </div>
    }

}
