@page
@model JurayUniversal.Website.Areas.Content.Pages.IProduct.Main.DeleteModel

@{
    ViewData["Title"] = string.Format("{0} DELETE", await Component.InvokeAsync("ProductTitle"));
    @if (User.Identity.IsAuthenticated && User.IsInRole("SubAdmin") || User.IsInRole("mSuperAdmin"))
    {
        Layout = "/Pages/Shared/Admin/_Main.cshtml";

    }
    else
    {
        Layout = "/Pages/Shared/Admin/_User.cshtml";

    }
}

<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">DELETE @await Component.InvokeAsync("ProductTitle")</h3>

    </div>
    <!-- /.card-header -->

    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <h3>Are you sure you want to delete this?</h3>
                <div>
                    <h4>Product</h4>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Product.Title)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Product.Title)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Product.VideoUrl)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Product.VideoUrl)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Product.VideoKey)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Product.VideoKey)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Product.ImageUrl)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Product.ImageUrl)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Product.ImageKey)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Product.ImageKey)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Product.FullDescription)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Product.FullDescription)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Product.ShortDescription)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Product.ShortDescription)
                        </dd>
                    </dl>

                    <form method="post">
                        <input type="hidden" asp-for="Product.Id" />
                        <input type="submit" value="Delete" class="btn btn-danger btn-sm" />
                        <a asp-page="./Index" class="btn bg-gradient-warning btn-sm" style="float:right;">Back</a>
                    </form>
                </div>

            </div>
        </div>


        <!-- /.row -->
    </div>
    <!-- /.card-body -->
    <div class="card-footer">
    </div>
</div>