@page
@model JurayUniversal.Website.Areas.Management.Pages.DeviceSetup.DetailsModel

@{
    ViewData["Title"] = "JSSL DEVICE MANAGEMENT Details";
}

<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">DETAILS DEVICE SETUP</h3>

    </div>
    <!-- /.card-header -->

    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EnableDevice.UserInformation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EnableDevice.UserInformation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EnableDevice.DeviceInformation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EnableDevice.DeviceInformation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EnableDevice.DisableDevice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EnableDevice.DisableDevice)
        </dd>
                </dl>
            </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
            <a href="javascript:history.back()" class="btn bg-gradient-warning btn-sm">Back</a>

        </div>
    </div>
</div>