@page
@model JurayUniversal.Website.Areas.Admin.Pages.IRequest.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">DELETE CLIENT REQUEST</h3>

    </div>
    <!-- /.card-header -->

    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
<h3>Are you sure you want to delete this?</h3>
<div>
     <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClientRequest.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClientRequest.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClientRequest.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClientRequest.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClientRequest.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClientRequest.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClientRequest.Message)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClientRequest.Message)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="ClientRequest.Id" />
                        <input type="submit" value="Delete" class="btn btn-danger btn-sm" />
                        <a asp-page="./Index" class="btn bg-gradient-warning btn-sm" style="float:right;">Back</a>
                    </form>
                </div>

            </div>
        </div>


        <!-- /.row -->
    </div>
    <!-- /.card-body -->
    <div class="card-footer">
    </div>
</div>