@page
@model JurayUniversal.Website.Areas.NIPSSADMIN.Pages.Users.StaffStatusModel
@{
}
<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">PARTICIPANT COURSE STATUS</h3>
        <a asp-page="./Index" class="btn bg-gradient-primary btn-sm" style="float:right;">Back to List</a>
        <a asp-page="./Add" class="btn bg-gradient-warning btn-sm" style="float:right;">Register New Account</a>

    </div>
    <!-- /.card-header -->

    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.UserData.FullnameX)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.UserData.FullnameX)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.UserData.Email)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.UserData.Email)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.UserData.PhoneNumber)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.UserData.PhoneNumber)
                    </dd>
                    <dt class="col-sm-2">
                        Reg. No.
                    </dt>
                    <dd class="col-sm-10">
                        @Model.StaffManage.StaffId)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.UserData.Role)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.UserData.Role)
                    </dd>
                    <dt class="col-sm-2">
                        Registered Date
                    </dt>
                    <dd class="col-sm-10">
                        @Model.UserData.Date.ToString("dd MMM, yyyy")
                    </dd>
                    
                    <dt class="col-sm-2">
                        Registration Completion Link
                    </dt>
                    <dd class="col-sm-10">
                        Email Sent

                        @if (Model.UserData.EmailSent == true)
                        {
                            <span>
                                (<i class="fa fa-check"></i>)
                            </span>


                        }
                        else
                        {

                            <span>
                                (<i class="fa fa-times"></i>)
                            </span>

                        }
                        <form method="post">
                            <input asp-for="UserId" type="hidden" value="@Model.UserData.Id" /> 
                            <input asp-for="SendEmail" type="hidden" value="true" />
                            <button type="submit" class="btn btn-primary btn-xs">Resend Email</button>
                        </form>
                        <br /> SMS Sent
                        @if (Model.UserData.SmsSent == true)
                        {
                            <span>
                                (<i class="fa fa-check"></i>)
                            </span>
                        }
                        else
                        {
                            <span>
                                (<i class="fa fa-times"></i>)
                            </span>

                        }
                        <form method="post">
                            <input asp-for="UserId" type="hidden" value="@Model.UserData.Id" /> 

                            <input asp-for="SendSMS" type="hidden" value="true" />
                            <button type="submit" class="btn btn-primary btn-xs">Resend SMS</button>
                        </form>
                    </dd>
                    <dt class="col-sm-2">
                        First Login Details
                    </dt>
                    <dd class="col-sm-10">
                        Email: @Model.UserData.Email <br />
                        @if (Model.UserData.ResetPassword == false)
                        {
                            <p>
                                <i>User Already Login</i>
                            </p>
                        }
                        else
                        {
                            <span> Temporal Password: @Model.UserData.TempPass</span>

                            <br />
                            <p>
                                <i>Kindly copy and send to the user</i>
                            </p>
                        }
                    </dd>
                </dl>
            </div>

        </div>
    </div>
</div>