@page
@model JurayUniversal.Website.Areas.NIPSSADMIN.Pages.Users.UpdateAccomodationModel
@{
}

<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">UPDATE ACCOMODATION</h3>
        <a asp-page="/Participants/ListParticipants" asp-route-id="@Model.ParticipantList.Course.Id" class="btn bg-gradient-primary btn-sm" style="float:right;">Back to List</a>

    </div>
    @if (Model.ParticipantList != null)
    {
        <!-- /.card-header -->
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.ParticipantList.User.FullnameX)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.ParticipantList.User.FullnameX)
                        </dd>

                        <dt class="col-sm-2">
                            Reg. No.
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.ParticipantList.IdNumber)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.ParticipantList.User.Role)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.ParticipantList.User.Role)
                        </dd>

                        <dt class="col-sm-2">
                            Course
                        </dt>
                        <dd class="col-sm-10">
                            @Model.ParticipantList.Course.CourseCategory.Name (@Model.ParticipantList.Course.CourseCategory.Abbreviation @Model.ParticipantList.Course.SecNumber, @Model.ParticipantList.Course.Year.ToString("yyyy"))
                        </dd>


                    </dl>
                </div>

            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="card-body card-primary">
                        <h4>
                            Current Accomodation:
                            @if (Model.ParticipantList.Accomodation != null)
                            {
                                @Model.ParticipantList.Accomodation.Name
                            }
                            else
                            {
                                <span>Not Assigned</span>
                            }


                        </h4>
                    </div>
                    <div class="card-body card-primary">
                        <h3>Assign/Change Accomodation</h3>
                        <form id="change-password-form" method="post">

                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="UserData.Id" />
                            

                            <div class="form-group">
                                <label class="form-label">Choose Accomodation</label>
                                <select asp-for="AccomodationId" class="form-control" asp-items="ViewBag.AccomodationId">
                                    <option value="">Choose</option>
                                </select>

                            </div>
                           

                            <div class="form-group">
                                <input type="submit" value="Update" class="btn btn-primary" />

                            </div>
                        </form>
                    </div>
                </div>
            </div>


            <!-- /.row -->
        </div>


        <!-- /.card-body -->
    }
    else
    {
        <div class="card-footer">
            <h3>Account not an active participant</h3>
        </div>
    }
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
