@page
@model JurayUniversal.Website.Areas.NIPSSADMIN.Pages.QAs.ModeratorListModel
@{
}
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Questions Asked to the Resource Person/Moderator </h3>

    </div>
    <h4>
        @if (Model.Course.CourseCategory != null)
        {
            <span>
                @Html.DisplayFor(modelItem => Model.Course.CourseCategory.Name) (@Model.Course.CourseCategory.Abbreviation @Model.Course.SecNumber)
            </span>
        }
        else
        {
            <span>.......</span>
        }
    </h4>
    <!-- /.card-header -->
    <div class="card-body">
        <div class="table-responsive">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>S/N</th>
                        <th>Date</th>
                        <th>
                            Resource Person
                        </th>
                        <th>
                            Topic
                        </th>

                        <th>Questions</th>
                        <th></th>
                    </tr>
                </thead>
                @{
                    int sn = 0;
                }
                <tbody>
                    @foreach (var item in Model.Moderators)
                    {
                        <tr>
                            <td>
                                @{
                                    sn++;
                                }
                                @sn
                            </td>
                            <td>
                                @item.TimeTable.Date.ToString("ddd dd MMM, yyyy")
                            </td>
                            <td>
                                @if (item.User != null)
                                {

                                    <span>
                                        <strong>@item.User.FullnameX</strong>(@item.Position)
                                    </span>

                                }
                                else
                                {
                                    <span>


                                        <strong>@item.Fullname</strong>(@item.Position)
                                    </span>
                                }

                            </td>
                            <td style="word-break:break-all;">

                                @Html.Raw(item.TimeTable.Content)
                            </td>
                            <td>
                                @item.QuestionAndAnswers.Count()
                            </td>

                            <td>

                                <a class="btn btn-primary" asp-page="./QuestionList" asp-route-id="@item.Id" asp-route-courseid="@Model.Course.Id">Questions</a>

                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>