@page
@model JurayUniversal.Website.Areas.Admin.Pages.IFacilityPage.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">FACILITY LIST</h3>
    </div>

    <div class="card-body">
        <div class="table-responsive">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>S/N</th>
                        <th>
                            @Html.DisplayNameFor(model => model.Facility[0].State)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Facility[0].LGA)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Facility[0].Ward)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Facility[0].FacilityLocation)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                @{ int sn = 0;}
                <tbody>
                    @foreach (var item in Model.Facility)
                    {
                        <tr>
                            <td>
                                @{ sn++;
                                }

                                @sn
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.State)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LGA)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Ward)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FacilityLocation)
                            </td>
                            <td>
                                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>



</div>
