@page
@model JurayUniversal.Website.Areas.Admin.Pages.IExpenses.MainExpenses.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">EXPENSES LIST</h3>


        <a asp-page="./Create" class="btn bg-gradient-warning btn-sm" style="float:right;">Add New</a>

    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <div class="table-responsive">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>S/N</th>
                        <th>
                            Expenese
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CompayExpenses[0].Note)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CompayExpenses[0].Amount)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.CompayExpenses[0].Date)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CompayExpenses[0].ApprovedByManager)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.CompayExpenses[0].ApprovedByCEO)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.CompayExpenses[0].ApprovedByCFO)
                        </th>

                        <th>Closed</th>
                        <th></th>
                    </tr>
                </thead>

                @{
                    int sn = 0;
                }
                <tbody>
                    @foreach (var item in Model.CompayExpenses)
                    {
                        <tr>
                            <td>
                                @{
                                    sn++;
                                }
                                @sn
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ExpensesCategory.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Note)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Amount)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Date)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ApprovedByManager)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.ApprovedByCEO)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.ApprovedByCFO)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Close)
                            </td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-success">Action</button>

                                    <div class="btn-group">
                                        <button type="button" class="btn btn-success dropdown-toggle dropdown-icon" data-toggle="dropdown" aria-expanded="false">
                                        </button>
                                        <div class="dropdown-menu" style="">
                                            @if (item.Close == true)
                                            {
                                                <a class="dropdown-item" asp-page="./Details" asp-route-id="@item.Id">Details</a>
                                            }
                                            else
                                            {
                                                <a class="dropdown-item" asp-page="./UpdateExpenses" asp-route-id="@item.Id">Update</a>
                                            }
                                        </div>
                                    </div>
                                </div>

                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
