@page
@model JurayUniversal.Website.Areas.Content.Pages.IUserCategory.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">DETAILS USER CATEGORY</h3>

    </div>
    <!-- /.card-header -->

    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.UserCategory.Title)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.UserCategory.Title)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.UserCategory.Description)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.UserCategory.Description)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.UserCategory.Publish)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.UserCategory.Publish)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.UserCategory.ShowInMenu)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.UserCategory.ShowInMenu)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.UserCategory.ShowInDashboard)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.UserCategory.ShowInDashboard)
                    </dd>
                </dl>
            </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
            <a href="javascript:history.back()" class="btn bg-gradient-warning btn-sm">Back</a>

        </div>
    </div>
</div>