@page
@model JurayUniversal.Website.Areas.JPTask.Pages.ProjectAct.DetailsModel
@{
}
<div class="card">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">



                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Project</h3>
                            <a asp-page="./Index" class="btn bg-gradient-warning btn-sm" style="float:right;">Back</a>

                        </div>
                        <div class="card-body">
                            <table class="table table-striped table-bordered">
                                <tr>
                                    <th>Title</th>

                                    <td>@Model.XProject.Title</td>
                                </tr>
                                <tr>
                                    <th>Priority</th>
                                    <td>@Model.XProject.Priority</td>
                                </tr>
                                <tr>
                                    <th>Created Date</th>
                                    <td>@Model.XProject.CreatedDate</td>
                                </tr>
                                <tr>
                                    <th>Start Date</th>

                                    <td>@Model.XProject.StartDate</td>
                                </tr>
                                <tr>
                                    <th>Date To Start Testing</th>

                                    <td>@Model.XProject.DateToStartTesting</td>
                                </tr>
                                <tr>
                                    <th>Date To Go-live</th>

                                    <td>@Model.XProject.DateToGoLive</td>
                                </tr>
                                <tr>
                                    <th>Description</th>

                                    <td>@Model.XProject.Description</td>
                                </tr>
                                <tr>
                                    <th>Full Description</th>

                                    <td>
                                        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#projectDescription">Read Full Description</button>

                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Files
                                        <a asp-page="./UploadFile" asp-route-id="@Model.XProject.Id" class="btn btn-xs btn-primary">Upload</a>
                                    </th>
                                    <td>
                                        @await Component.InvokeAsync("XProjectFile", new { id = Model.XProject.Id })


                                    </td>
                                </tr>

                            </table>

                        </div>
                        <!-- /.card-body -->
                    </div>

                    <div class="row juray-card-section">
                        <div class="col-md-7">
                            <div class="card card-success">
                                <div class="card-header">
                                    <h3 class="card-title">FEATURES</h3>

                                </div>
                                <div class="card-body">
                                    @if (User.IsInRole("mSuperAdmin") || User.IsInRole("SubAdmin"))
                                    {
                                        <a asp-page="./NewFeature" asp-route-id="@Model.XProject.Id" class="btn bg-gradient-success btn-sm" style="">Add New Feature</a>
                                    }
                                        <hr />
                                        @foreach (var xsection in Model.XProject.Sections)
                                        {
                                            <div class="" style="padding-bottom:10px;">
                                                <div class="card collapsed-card">
                                                    <div class="card-header">
                                                        <h3 class="card-title">
                                                            Title: @xsection.Title
                                                        </h3>
                                                        <div class="card-tools">
                                                            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                                                <i class="fas fa-plus"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="card-body" style="display:none;">

                                                        <h5>Proirity: @xsection.Priority</h5>
                                                        <p>
                                                            Description: @xsection.Description
                                                        </p>
                                                        <h6>Start Date: @xsection.StartDate</h6>
                                                        <h6>Testing Date: @xsection.DateToStartTesting</h6>
                                                        <h6>Finish Date: @xsection.EndDate</h6>
                                                        @if (User.IsInRole("mSuperAdmin") || User.IsInRole("SubAdmin"))
                                                        {
                                                            <a class="btn btn-success" asp-page="./UpdateFeature" asp-route-id="@xsection.Id">Update</a>
                                                        }
                                                            <hr />
                                                            <div class="card card-warning">
                                                                <div class="card-header">
                                                                    <h3 class="card-title">TASK (@xsection.Tasks.Count())</h3>


                                                                </div>
                                                                <div class="card-body">
                                                                    @if (User.IsInRole("mSuperAdmin") || User.IsInRole("SubAdmin"))
                                                                    {
                                                                        <a asp-page="./NewTask" asp-route-id="@xsection.Id" class="btn bg-gradient-warning btn-sm" style="">Add New Task</a>
                                                                        <hr />
                                                                    }
                                                                        @await Component.InvokeAsync("XTask", new { id = xsection.Id })
                                                                    </div>
                                                                <!-- /.card-body -->
                                                            </div>
                                                        </div>
                                                </div>
                                            </div>

                                        }
                                    </div>
                                <!-- /.card-body -->
                            </div>
                        </div>
                        <div class="col-md-5">
                            
                            @await Component.InvokeAsync("XMessageSection", new { id = Model.XProject.Id })

                             
                        </div>
                    </div>

                    <!-- /.card -->
                </div>
            </div>
        </div>
    </div>
    </div>


    <!-- Trigger the modal with a button -->
    <!-- Modal -->
    <div id="projectDescription" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">FULL DESCRITION OF THE PROJECT</h4>
                </div>
                <div class="modal-body">
                    @Html.Raw(Model.XProject.FullDescription)
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>