@page
@model JurayUniversal.Website.Areas.Content.Pages.ISettings.DetailsModel

@{
    ViewData["Title"] = "SETTINGS Details"; Layout = "/Pages/Shared/Admin/_Management.cshtml";

}

<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">DETAILS SETTINGS</h3>

    </div>
    <!-- /.card-header -->

    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Setting.Qoute)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Setting.Qoute)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Setting.TopNote)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Setting.TopNote)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Setting.FacebookPage)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Setting.FacebookPage)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Setting.InstagramPage)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Setting.InstagramPage)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Setting.TwitterPage)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Setting.TwitterPage)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Setting.TiktokPage)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Setting.TiktokPage)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Setting.YoutubeChannel)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Setting.YoutubeChannel)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Setting.EmailOne)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Setting.EmailOne)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Setting.EmailTwo)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Setting.EmailTwo)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Setting.EmailThree)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Setting.EmailThree)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Setting.PhoneOne)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Setting.PhoneOne)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Setting.PhoneTwo)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Setting.PhoneTwo)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Setting.PhoneThree)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Setting.PhoneThree)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Setting.WorkingHour)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Setting.WorkingHour)
                    </dd>

                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Setting.AddFaqToHome)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Setting.AddFaqToHome)
                    </dd>

                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Setting.AddFaqToFooter)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Setting.AddFaqToFooter)
                    </dd>


                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Setting.AddTestimonyToHome)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Setting.AddTestimonyToHome)
                    </dd>

                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Setting.AddTestimonyToFooter)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Setting.AddTestimonyToFooter)
                    </dd>


                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Setting.AddPartnerToHome)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Setting.AddPartnerToHome)
                    </dd>

                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Setting.DisableMainTopMenu)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Setting.DisableMainTopMenu)
                    </dd>


                </dl>
            </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
            <a href="javascript:history.back()" class="btn bg-gradient-warning btn-sm">Back</a>

        </div>
    </div>
</div>