@page
@model JurayUniversal.Website.Areas.UserBudget.Pages.BD.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">BUDGET LIST</h3>


        <a asp-page="./Create" class="btn bg-gradient-warning btn-sm" style="float:right;">Create New</a>
        <a asp-page="./AssignedBudget" class="btn bg-gradient-success btn-sm" style="float:right;">Assigned Budget</a>

    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <div class="table-responsive">
            <table id="example1" class="table table-bordered table-striped projects">
                <thead>
                    <tr>
                        <th>S/N</th>
                        <th>
                            @Html.DisplayNameFor(model => model.BudgetMainCategory[0].Title)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.BudgetMainCategory[0].StartDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BudgetMainCategory[0].EndDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BudgetMainCategory[0].Status)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BudgetMainCategory[0].LastUpdatedDate)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.BudgetMainCategory[0].AccessEmails)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                @{
                    int sn = 0;
                }
                <tbody>
                    @foreach (var item in Model.BudgetMainCategory)
                    {
                        <tr>
                            <td>
                                @{
                                    sn++;
                                }
                                @sn
                            </td>
                            <td>
                                <a asp-page="./Details" asp-route-id="@item.Id">
                                    @Html.DisplayFor(modelItem => item.Title)
                                </a>
                            </td>

                            <td>
                                @item.StartDate.ToShortDateString()
                            </td>
                            <td>
                               @item.EndDate.ToShortDateString()
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>
                            <td>
                               @item.LastUpdatedDate.ToShortDateString()
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.AccessEmails)
                            </td>
                            <td>
                                <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
           
        </div>
    </div>
</div>