@page
@model JurayUniversal.Website.Areas.Admin.Pages.XProjectPage.XT.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">PROJECT TASK LIST</h3>


        <a asp-page="./Create" class="btn bg-gradient-warning btn-sm" style="float:right;">Add New</a>

    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <div class="table-responsive">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>S/N</th>
                        <th>
                            @Html.DisplayNameFor(model => model.XProjectTask[0].Title)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.XProjectTask[0].Description)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.XProjectTask[0].StartDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.XProjectTask[0].FinishDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.XProjectTask[0].Status)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.XProjectTask[0].Priority)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.XProjectTask[0].User)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.XProjectTask[0].RateUser)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.XProjectTask[0].Files)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.XProjectTask[0].TestCriterial)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.XProjectTask[0].TestStatus)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.XProjectTask[0].TestedBy)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.XProjectTask[0].RateTester)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.XProjectTask[0].ApprovedBy)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.XProjectTask[0].ApproveStatus)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.XProjectTask[0].RateApprover)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                @{
                    int sn = 0;
                }
                <tbody>
                    @foreach (var item in Model.XProjectTask)
                    {
                        <tr>
                            <td>
                                @{
                                    sn++;
                                }
                                @sn
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StartDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FinishDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Priority)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.User.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RateUser)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Files)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TestCriterial)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TestStatus)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TestedBy.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RateTester)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ApprovedBy.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ApproveStatus)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RateApprover)
                            </td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-success">Action</button>

                                    <div class="btn-group">
                                        <button type="button" class="btn btn-success dropdown-toggle dropdown-icon" data-toggle="dropdown" aria-expanded="false">
                                        </button>
                                        <div class="dropdown-menu" style="">

                                            <a class="dropdown-item" asp-page="/IBlogs/Post/PostList" asp-route-id="@item.Id">Posts</a>
                                            <a class="dropdown-item" asp-page="./Edit" asp-route-id="@item.Id">Edit</a>

                                        </div>
                                    </div>
                                </div>

                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
