
@model JurayUniversal.Application.Dtos.UsersDto.UserDto
@{
    ViewData["Title"] = "Users";
}

<form id="create-form" enctype="multipart/form-data" method="post" asp-page="Index" asp-route-id="@Model.Id" asp-page-handler="CreateOrEdit" onsubmit="return jQueryModalPost(this);">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @if (Model.Response != null)
    {
        <div class="alert alert-danger">
            <strong>@Model.Response</strong>
        </div>
    }
    <div class="form-group">
        <label class="form-label" asp-for="FirstName"></label>
        <div class="">
            <input type="text" autocomplete="off" asp-for="FirstName" name="FirstName" class="form-control">
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="form-label" asp-for="MiddleName"></label>
        <div class="">
            <input type="text" autocomplete="off" asp-for="MiddleName" name="MiddleName" class="form-control">
            <span asp-validation-for="MiddleName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="form-label" asp-for="LastName"></label>
        <div class="">
            <input type="text" autocomplete="off" asp-for="LastName" name="LastName" class="form-control">
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
    </div>
    @if (Model.Id == null)
    {
        <div class="form-group">
            <label class="form-label" asp-for="Username"></label>
            <div class="">
                <input type="text" autocomplete="off" asp-for="Username" name="Username" class="form-control">
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-label" asp-for="Email"></label>
            <div class="">
                <input type="text" autocomplete="off" asp-for="Email" name="Email" class="form-control">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
    }
    <div class="form-group">
        <label class="form-label" asp-for="Phone"></label>
        <div class="">
            <input type="text" autocomplete="off" asp-for="Phone" name="Phone" class="form-control">
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="form-label" asp-for="DateOfBirth"></label>
        <div class="">
            <input autocomplete="off" type="date" asp-for="DateOfBirth" name="DateOfBirth" class="form-control">
            <span asp-validation-for="DateOfBirth" class="text-danger"></span>
        </div>
    </div>
    @*<div class="form-group">
            <label asp-for="UserStatus" class="control-label"></label>
            @Html.DropDownListFor(model => model.UserStatus, new SelectList(Enum.GetValues(typeof(JurayUniversal.Domain.Enum.Enum.UserStatus))), new { @class = "form-control" })
            <span asp-validation-for="UserStatus" class="text-danger"></span>
        </div>*@
    @if (!String.IsNullOrEmpty(Model.PassportFilePathUrl))
    {
        <div class="form-group">
            <label class="control-label">Previouse Profile Picture</label><br />
            <img src="@Model.PassportFilePathUrl" class="img-fluid" style="max-height:150px;" />
        </div>
    }
    <div class="form-group">
        <label class="control-label">Profile Picture</label><br />
        <input type="file" class="control-label" name="file" accept="image/*" />
    </div>

    <div class="form-group">
        <label class="form-label">Permissions</label>
        <div>

            @foreach (var role in Model.Roles)
            {
                if (Model.UserRoles == null)
                {
                    <div>
                        <input type="checkbox" name="UserRoles" value="@role" /> @role
                    </div>
                }
                else
                {
                    if (Model.UserRoles.Contains(role))
                    {
                        <div>
                            <input type="checkbox" name="UserRoles" value="@role" checked /> @role
                        </div>
                    }
                    else
                    {
                        <div>
                            <input type="checkbox" name="UserRoles" value="@role" /> @role
                        </div>
                    }
                }
            }
        </div>
        <span class="text-danger">
            @Html.ValidationMessageFor(model => model.UserRoles)
        </span>
    </div>
    <div class="form-group justify-content-between">
        <button type="button" class="btn btn-secondary close-button" data-bs-dismiss="modal">Cancel</button>
        <button type="submit" id="button" class="btn btn-primary save-button">Save</button>
    </div>


</form>
<script type="text/javascript" language=javascript>
    $.validator.unobtrusive.parse(document);
    $("#button").click(function (event) {
        if ($('#create-form').valid()) {
            $(event.target).attr("disabled", "disabled");
        }


    });
</script>
<script>
    // Get the date input field
    var dateInput = document.getElementById("dateInput");

    // Set the input field's step attribute to '1' to disable time selection
    dateInput.step = "1";
</script>
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
