@page
@model JurayUniversal.Website.Areas.Admin.Pages.IJob.IJobs.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">DELETE JOB</h3>

    </div>
    <!-- /.card-header -->

    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
<h3>Are you sure you want to delete this?</h3>
<div>
     <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Job.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Job.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Job.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Job.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Job.ContactEmail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job.ContactEmail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Job.ContactPhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job.ContactPhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Job.OfficeEmail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job.OfficeEmail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Job.OfficePhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job.OfficePhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Job.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Job.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Job.ReminderDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job.ReminderDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Job.ExpiringDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job.ExpiringDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Job.BusinessName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job.BusinessName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Job.RequestDomain)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job.RequestDomain)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Job.ApprovedDomain)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job.ApprovedDomain)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Job.DescribeOrganization)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job.DescribeOrganization)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Job.Objectives)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job.Objectives)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Job.Colors)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job.Colors)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Job.WebsiteOnMind)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job.WebsiteOnMind)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Job.RequestStartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job.RequestStartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Job.RequestFinishDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job.RequestFinishDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Job.DoYouHaveLogo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job.DoYouHaveLogo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Job.DoWeDoLogo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job.DoWeDoLogo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Job.JobCategory)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job.JobCategory.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Job.Profile)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job.Profile.Id)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Job.Id" />
                        <input type="submit" value="Delete" class="btn btn-danger btn-sm" />
                        <a asp-page="./Index" class="btn bg-gradient-warning btn-sm" style="float:right;">Back</a>
                    </form>
                </div>

            </div>
        </div>


        <!-- /.row -->
    </div>
    <!-- /.card-body -->
    <div class="card-footer">
    </div>
</div>