@page
@model JurayUniversal.Website.Areas.Admin.Pages.IJob.IJobs.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">JOB LIST</h3>


        <a asp-page="./Create" class="btn bg-gradient-warning btn-sm" style="float:right;">Add New</a>

    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <div class="table-responsive">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>S/N</th>
            <th>
                @Html.DisplayNameFor(model => model.Job[0].Title)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Job[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Job[0].PhoneNumber)
            </th>
             
            <th>
                @Html.DisplayNameFor(model => model.Job[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Job[0].StartDate)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Job[0].BusinessName)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Job[0].RequestDomain)
            </th>
            
            <th>
               Referred By
            </th>
            <th></th>
        </tr>
                </thead>
                @{
                    int sn = 0;
                }
    <tbody>
@foreach (var item in Model.Job) {
                        <tr>

                            <td>
                                @{
                                    sn++;
                                }
                                @sn
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PhoneNumber)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Date)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StartDate)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.BusinessName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RequestDomain)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Profile.FullnameX)
                            </td>
                        
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-success">Action</button>

                                    <div class="btn-group">
                                        <button type="button" class="btn btn-success dropdown-toggle dropdown-icon" data-toggle="dropdown" aria-expanded="false">
                                        </button>
                                        <div class="dropdown-menu" style="">

                                            <a class="dropdown-item" asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
                                            <a class="dropdown-item" asp-page="./Details" asp-route-id="@item.Id">Details</a>

                                        </div>
                                    </div>
                                </div>

                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
